node_modules
.next
.git
.github
.vercel
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.local
.env*.local
.env.production
README.md
MOBILE-LAUNCH.md
VPS-DEPLOY.md
Dockerfile
docker-compose.yml
.dockerignore
nginx
scripts
supabase
twa-manifest.json
.DS_Store
coverage
.idea
.vscode
